---
const { prop } = Astro.props;
import Image from "astro/components/Image.astro";
---

<a
  href={`/propiedades/${prop.id_propiedad}`}
  class="block bg-white border border-gray-300 shadow rounded-lg overflow-hidden hover:shadow-lg transition "
>
  <div class="flex flex-col md:flex-row min-h-60 p-4 gap-4 ">
    <Image
      src={prop.imagen_principal}
      alt={prop.titulo}
      width={400}
      height={208}
      class="w-full max-h-52 object-cover  md:max-w-64 rounded-lg"
      loading="eager"
    />

    <aside class="flex-1 flex flex-col justify-between">
      <h2 class="text-xl font-semibold mb-2">{prop.titulo}</h2>
      <p class="text-3xl font-bold mb-2">${prop.precio.toLocaleString()} <span class="text-xl">MXN</span></p>
      <p class="text-gray-600 mb-4 line-clamp-3 h-18">{prop.descripcion}</p>
      <p class="text-sm text-gray-500">Tipo: {prop.tipo.charAt(0).toUpperCase() + prop.tipo.slice(1)} | Estado: {prop.estado.charAt(0).toUpperCase() + prop.estado.slice(1)}
      </p>
    </aside>
  </div>
</a>
